[submodule "koshaH/dhavala-sangrahaH"]
	path = koshaH/dhavala-sangrahaH
	url = https://github.com/sanskrit-kosha/kosha.git
[submodule "vyAkaraNam/aShTAdhyAyI-com-data"]
	path = vyAkaraNam/aShTAdhyAyI-com-data
	url = https://github.com/ashtadhyayi-com/data.git
[submodule "vyAkaraNam/aShTAdhyAyI_central-repo"]
	path = vyAkaraNam/aShTAdhyAyI_central-repo
	url = https://github.com/sanskrit/ashtadhyayi.git
[submodule "mixed/sarit"]
	path = mixed/sarit
	url = https://github.com/sarit/SARIT-corpus.git
[submodule "mixed/gretil"]
	path = mixed/gretil
	url = https://github.com/sanskrit/GRETIL-mirror.git
[submodule "catalogs/wellcome-collection-tei"]
	path = catalogs/wellcome-collection-tei
	url = https://github.com/wellcomecollection/wellcome-collection-tei.git
[submodule "mixed/dcs"]
	path = mixed/dcs
	url = https://github.com/OliverHellwig/sanskrit.git
[submodule "mixed/clt/gitasupersite"]
	path = mixed/clt/gitasupersite
	url = https://github.com/cltk/sanskrit_text_gitasupersite.git
[submodule "mixed/clt/wikisource"]
	path = mixed/clt/wikisource
	url = https://github.com/cltk/sanskrit_text_wikisource.git
[submodule "mixed/clt/dcs"]
	path = mixed/clt/dcs
	url = https://github.com/cltk/sanskrit_text_dcs.git
[submodule "mixed/clt/jnu"]
	path = mixed/clt/jnu
	url = https://github.com/cltk/sanskrit_pos_jnu_tagged.git
[submodule "mixed/clt/jnu_plain"]
	path = mixed/clt/jnu_plain
	url = https://github.com/cltk/sanskrit_text_jnu.git
[submodule "mixed/clt/sacred_texts"]
	path = mixed/clt/sacred_texts
	url = https://github.com/cltk/sanskrit_parallel_sacred_texts.git
[submodule "koshaH/indic-dict/sanskrit"]
	path = koshaH/indic-dict/sanskrit
	url = https://github.com/indic-dict/stardict-sanskrit.git
[submodule "koshaH/indic-dict/kAvya"]
	path = koshaH/indic-dict/kAvya
	url = https://github.com/indic-dict/stardict-sanskrit-kAvya.git
[submodule "koshaH/indic-dict/vyAkaraNa"]
	path = koshaH/indic-dict/vyAkaraNa
	url = https://github.com/indic-dict/stardict-sanskrit-vyAkaraNa.git
[submodule "mixed/somasuShma/tex"]
	path = mixed/somasuShma/tex
	url = https://github.com/somasushma/tex-files.git
[submodule "mixed/sandocs-dump"]
	path = mixed/sandocs-dump
	url = https://github.com/sanskrit/sanskrit-documents-dump.git
[submodule "jyotiSham/adyatithi"]
	path = jyotiSham/adyatithi
	url = https://github.com/jyotisham/adyatithi.git
