@page {
    margin-bottom: 5pt;
    margin-top: 5pt
    }
@font-face {
    font-family: "NotoSansDevanagari Bold";
    font-weight: bold;
    src: url(6/OEBPS/font_54345.ttf)
    }
@font-face {
    font-family: "NotoSansDevanagari Regular";
    src: url(6/OEBPS/font_54347.ttf)
    }
